html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.vid-back{ width: 100%; height: 100%; overflow: hidden; position: fixed; z-index: 50; background-color: #000;}

.vid-back video { object-fit: cover; height: 100%; width: 100%;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    .vid-back{ width: 100%; height: 100%; overflow: hidden; position: fixed; z-index: 50;}

    .vid-back video { width: 100%;}
   }

.div-intro-page {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    color: #ffffff;
}

.load_text {
    width: 100%;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 58%;
    height: 30px;
}

.loader {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: calc((100vh - 70px) /2);
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bottom-btn-group {
    position: absolute;
    bottom: 6vh;
    right: 6vh;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*logo_start*/
.logo_area {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 49;
    color: #000000;
}

.logo_wrap {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.logo_wrap img{
    display: block;
    margin: 0 auto;
}

.logo_1{
    width: 18%;
    min-width: 250px;
}
/*logo_end*/

.img_area {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 49;
    color: #000000;
    display: none;
}

.img_wrap {
    position: absolute;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    min-width: 350px;
    z-index: 50;
}

.img_cont{
    width: 100%;
}

.img_close {
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 50;
    right: -10px;
    top: -10px;
    font-size: 30px;
    color: #862623;
    background-color: #ffffff;
    text-align: center;
    border-radius: 30px;
    line-height: 0px;
    cursor: pointer;
}

.ie_vid_area {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 49;
    color: #000000;
    display: none;
}

.ie_vid_wrap {
    position: absolute;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    z-index: 50;
}

.ie_vid_cont{
    width: 100%;
}

.vid_close {
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 50;
    right: -10px;
    top: -10px;
    font-size: 30px;
    color: #862623;
    background-color: #ffffff;
    text-align: center;
    border-radius: 30px;
    line-height: 0px;
    cursor: pointer;
}

#footer_content {
    display: block;
    position: absolute;
    top: 30%;
    line-height: 30px;
    width: 100%;
    font-size: 17px;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    word-break: keep-all;
}

#footer_bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.disclaimer {
    font-size: 30px;
    font-weight: bolder;
    line-height: 45px;
}

.borderStyle {
    border: 2px solid #fff;
    color: #fff;
    padding: 0 20px 0 20px;
    width: 230px;
    font-weight: bolder;
}

.borderStyle:hover {
    background-color: #fff;
    color: #000;
    font-weight: bolder;
    width: 230px;
    text-decoration: none;
}

@media (max-width: 450px) and (orientation: portrait) {
    body{
           overflow-x: hidden;
        }

}

@media (max-width: 812px) and (orientation: landscape) {
    body{
        width: 100vw;
        height: 100%;
/*            min-height: 450px;*/
        }
    
}

/*------------------------------배경이미지 start---------------------------------*/
.main-body {
/*    background-image: url("../image/3840_back.png");*/
    /*background-repeat: no-repeat;*/
    background-color: #000;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    display: block;
    background-position: center;
    z-index: 0;
    position: fixed;
    overflow-x: scroll;
/*    min-width: 1500px;*/
}

#container{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
/*    min-width: 1500px;*/
    background-color: #000;
    position: fixed;
    overflow-x: scroll;
}


#main_content {
    position: relative;
}

#main_content:before {
  color: #fff;
  position: absolute;
  left: -1rem;
  top: 50%;
  font-size: 6vh;
  transform: translateX(-100%) translateY(-50%);
}


#booth-content {
    display: table;
    margin: 0 auto;
    position: relative;
/*    width: 100%;*/
    height: 100vh;
    background-image: url("../image/3840_cont.png");
    background-position: center;
    background-size: contain;
/*    transform: translateX(0%) translateY(50%);*/
}

#booth-content img{
    width: 100%;
    vertical-align: middle;
}

#booth-content img.real{
    width: auto;
    height: 100vh;
    margin: 0 auto;
}

.effect_img{
    transform: translateX(0%) translateY(0%);
    position: absolute;
    z-index: 0;
}

.effect_img img{
    width: 90%;
}


.effect_img .slice{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}

@media (max-height: 1920px) {
    #main_content {
    }
}

@media (max-height: 1440px) {
    #main_content {
    }
}

@media (max-height: 1200px) {
    #main_content {
    }
}

@media (max-height: 1080px) {
    #main_content {
    }
}

@media (max-height: 768px) {
    #main_content {
    }
}

@media (max-height: 480px) {
    #main_content {
    }
}

@media (max-height: 414px) {
    #main_content {
    }
}

@media (max-width: 1920px) {

}

@media (max-width: 1600px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 812px) and (orientation: landscape) {
}

@media (max-width: 450px) and (orientation: portrait) {
}

/*----------------------------------클릭포인트 start-----------------------------------*/

@keyframes slidein {
  from {
    margin-left: -5%;
  }

  to {
    margin-left: 1%;
  }
}

/*click_button*/
.iccl, .iccl_on{
    position: absolute;
    cursor: pointer;
    z-index: 60;
    font-size: 0;
    color: transparent;
    display: block;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1vw;
    -webkit-animation: fadeinout 4s infinite alternate;
    animation: fadeinout 4s infinite alternate;
    animation-play-state: running;
}
.iccl2{
    position: absolute;
    cursor: pointer;
    z-index: 60;
    font-size: 0;
    color: transparent;
    display: block;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
/*
    padding: 1vw;
    -webkit-animation: fadeinout 4s infinite alternate;
    animation: fadeinout 4s infinite alternate;
    animation-play-state: running;
*/
}



/*
.iccl.animate{
    -webkit-animation: fadeinout 4s infinite alternate;
    animation: fadeinout 4s infinite alternate;
    animation-play-state: running;    
}
*/

.iccl.link, .iccl_on.link {
    background-image: url('/assets/image/link.png');
}

.iccl.play, .iccl_on.play {
    background-image: url('/assets/image/play.png');
}

.iccl.img, .iccl_on.img {
    background-image: url('/assets/image/link.png');
}

.iccl.pdf, .iccl_on.pdf {
    background-image: url('/assets/image/link.png');
}

.iccl.pause{
    animation: none;
    opacity: 0;
}

.iccl.on{
    opacity: 1 !important;
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeoutin {
  0%,100% { opacity: 1; }
  20% { opacity: 0; }
}

@keyframes fadeoutin {
  0%,100% { opacity: 1; }
  20% { opacity: 0; }
}
@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}


/*click_button*/

#ic1{    
    width: 18%;
    top: 62.5%;
    left: 5.5%;
    padding: 0 3% 10%;
}
#ic1_on{  
    top: 75.5%;
    left: 13.3%;
}
#ic2{    
    top: 61.2%;
    left: 37.5%;
    width: 11%;
    padding: 0 2% 7%;
}
#ic2_on{    
    top: 71.4%;
    left: 41.9%;
}

#ic3{
    width: 15%;
    top: 61.5%;
    left: 49.5%;
    padding: 0 2% 7%;
}

#ic3_on{
    top: 71.4%;
    left: 55.8%;
}
#ic4{
    width: 11.5%;
    top: 61.5%;
    left: 65.1%;
    padding: 0 1% 7%;
}
#ic4_on{
    top: 71.4%;
    left: 69.5%;
}


#ic5, #ic5_on{    
    top: 74.9%;
    left: 67.5%;
    width: 6.6%;
}

#ic6, #ic6_on{
    width: 7.2%;
    top: 75.5%;
    left: 73.8%;
}

#ic7, #ic7_on{
    width: 7.2%;
    top: 76.2%;
    left: 80.5%;
}

#ic9{    
    width: 30%;
    top: 52%;
    left: 41%;
    position: absolute;
    cursor: pointer;
    z-index: 60;
    font-size: 0;
    color: transparent;
    display: block;
    padding: 0;
    overflow: hidden;
}

#ic9 .sponsor_logo-wrap{
    width: 100%;
}

#ic9 .s_logo_list li{
    position: relative;
}

.video_con{
    width: 23.2%;
    height: 23.2%;
    position: absolute;
    top: 37.5%;
    left: 3.8%;
    perspective: calc(100vw * 0.8 );
    -webkit-perspective: calc(100vw * 0.8 );
    z-index: -1;
}

#video_01{        
    width: 100%;
    height: 100%;
    transform:translate3d(0,0,0px) rotateX(0deg) rotateY(30deg) skew(-2deg, 4deg);
    -webkit-transform: translate3d(0,0,0px) rotateX(0deg) rotateY(30deg) skew(-2deg, 4deg);
    -ms-transform:translate3d(0,0,0px) rotateX(0deg) rotateY(30deg) skew(-2deg, 4deg);
    z-index: 50;
}

#vid_auto{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

@media (max-width: 1920px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 812px) and (orientation: landscape) {
    .iccl .btn_li{
        padding: 1.5vw;
        border-radius: 1.5vw;
        margin-left: -0.7vw;
        margin-top: -0.7vw;
    }
}

@media (max-width: 450px) and (orientation: portrait) {

    @keyframes ripple {
        0% {
            box-shadow: 
                0 0 0 0 rgba(255, 255, 255, 0.3), 
                0 0 0 0.1em rgba(255, 255, 255, 0.3), 
                0 0 0 0.2em rgba(255, 255, 255, 0.3), 
                0 0 0 0.4em rgba(255, 255, 255, 0.3);
        }
        100% {
            box-shadow: 
                0 0 0 0.4em rgba(255, 255, 255, 0.3), 
                0 0 0 0.4em rgba(255, 255, 255, 0.3), 
                0 0 0 0.5em rgba(255, 255, 255, 0.3), 
                0 0 0 0.8em rgba(255, 255, 255, 0);
        }
    }

    .iccl .btn_li{
        padding: 2vw;
        border-radius: 2vw;
        margin-left: -1vw;
        margin-top: -1vw;
    }
}

/*----------------------------------클릭포인트 end-----------------------------------*/

/*-----------------------팝업 배경이미지---------------------------*/
.flipbook{
    margin: 0;
    padding: 0;
    display: none;
}

.flipbook .modal-dialog{
    background: rgba(51,51,51,0.8);
    height: 100% !important;
    width: 100% !important;
    margin: 0;
}

.flipbook .modal-header{
    background: rgba(51,51,51,0.8);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    display: block;
}

.flipbook .close{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 6vh;
    right: 6vh;
    color: #fff;
    display: block;
    z-index: 10;
}

#register_modal.modal.in .modal-dialog{
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.modal-img-background {
    background-color: rgba(22, 160, 169, 0.8);
    color: #ffffff;
}

.modal-img-background i {
    color: #ffc107;
}

.modal-img-background .modal-content {
    background-color: transparent;
}

.modal-img-background .modal-header {
    border-bottom: 1px solid #ffc107;
}

.modal-img-background .modal-footer {
    border-top: 1px solid #ffc107;
}

#register_modal .modal-footer .btn{
    color: #333;
}

.close{
    color: #ffc107;
    opacity: 0.7;
}

@media screen and (min-width: 320px) and (max-width: 812px) {
   #register_modal .modal-dialog {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    opacity: 0.5;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 3600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 15px;
    }
}

@media screen and (max-width: 3600px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.div-menu {
    width: 90%;
    margin-left: 10%;
    margin-top: 1vh;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-align: left;
    height: 40px;
    line-height: 40px;
    z-index: 50;
}

.div-menu:first-child {
    margin-top: 10vh;
}

.div-menu img {
    width: 100%;
}

.nav_bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.div-main-back {
    width: 100vw;
    height: 100%;
    position: relative;
}

.div-main-vid {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.div-main-menu {
    width: 15%;
    position: fixed;
    z-index: 30;
    top: 0px;
    right: 0px;
    background-color: rgba(22, 160, 169, 0.6);
    display: none;
    text-align: right;
    border-bottom: 1px solid #fff;
    height: 100vh;
    overflow-y: scroll;
}

.div-btn-menu {
    font-family: 'Oswald', sans-serif;
    width: 35px;
    height: 35px;
    background-color: #fff;
    margin: auto;
    position: absolute;
    z-index: 40;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    color: #222222;
    font-size: 20px;
    line-height: 32px;
    cursor: pointer;
}

#ic8{
    top: 6vh;
    right: 6vh;
    margin-right: 45px;
}

.speech_b {    
    position: relative;
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.4);
    color: #0AD5C1;
    font-size: 14px;
    display: inline-block;
    line-height: 18px;
    word-break: keep-all;
    margin-top: 23px;
    margin-left: -38px;
    opacity: 0;
}

#ic8:hover .speech_b{
    opacity: 1;
}

.speech_b:after {
    position: absolute;
    top: 15px;
    content: '';
    width: 0;
    height: 0;
    border-right: 15px solid rgba(25, 147, 147, 0.4);
    border-top: 15px solid transparent;
    top: -15px;
    right: 15px;
}

#nav_menu{
    top: 6vh;
    right: 6vh;    
}

.div-player-wrap {
    width: 70%;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.div-vid-close {
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 50;
    right: -10px;
    top: -10px;
    font-size: 30px;
    color: #862623;
    background-color: #ffffff;
    text-align: center;
    border-radius: 30px;
    line-height: 0px;
    cursor: pointer;
}
@media screen and (max-width: 1200px) {

    .div-main-menu {
        width: 21%;
    }
}

@media screen and (max-width: 900px) {

    .div-main-menu {
        width: 30%;
    }
    
}

@media screen and (orientation: landscape) {
    .div-player-wrap {
        width: 60%;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
    }
    
}

@media (max-width: 450px) and (orientation: portrait) {

    .div-main-menu {
        width: 50%;
    }
    
} 

::-webkit-scrollbar {
    width: 5px;
}

/* 스크롤 바 */

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

/* 스크롤 바 밑의 배경 */

::-webkit-scrollbar-thumb {
    background: #444444;
}

/* 실질적 스크롤 바 */

::-webkit-scrollbar-thumb:hover {
    background: #afd002;
}

/* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */

::-webkit-scrollbar-thumb:active {
    background: #afd002;
}

/* 실질적 스크롤 바를 클릭할 때 */

::-webkit-scrollbar-button {
    display: none;
}

/* 스크롤 바 상 하단 버튼 */

* {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*부스회전*/


#main_content:before {
/*  position: absolute;*/
  transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  transition: 250ms linear all;
}


#main_content.reflection-container {
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  perspective: 1000px;
  -ms-perspective: 0;
/*  height: 100%;*/
  transition: 250ms linear all;
}
#main_content.reflection-container:before {
/*  position: absolute;*/
  transform: translateX(-90%) translateY(-50%);
  -ms-transform: translateX(-90%) translateY(-50%);
  transition: 250ms linear all;
}
#main_content.reflection-container #booth-content.reflection-content {
  transform: rotateX(0) rotateY(20deg) translateX(8%) translateY(27%);
  -ms-transform: rotateX(0) rotateY(20deg) translateX(8%) translateY(27%);
  width:90%;
  transition: 250ms linear all;
}

@media (max-width: 812px) {
    
    #main_content.reflection-container #booth-content.reflection-content {
      transform: rotateX(0) rotateY(35deg) translateX(-5%) translateY(27%);
      -ms-transform: rotateX(0) rotateY(35deg) translateX(-5%) translateY(27%);
      width:91%;
      transition: 250ms linear all;
    }
}

/*
.reflection-container .reflection-content:before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  left: -50%;
  top: -50%;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
  transform: translateY(-5%);
  transition: 250ms linear transform;
}*/




/******************ERROR PAGE 3******************/
.bg-error3-img{
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.text-alignment{
    height: 100vh;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.error-page-3 .row{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-family: 'Roboto', sans-serif;
    word-break: keep-all;
}
.error-page-3 .main-heading{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0;
}
.error-page-3 .sub-heading{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 30px;
}

.error-page-3 .error3-text{
    width: 100%;
}

.error-page-3 .text-error{
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
    margin: 0 auto;
}

@media screen and (max-width:767px){
    .error-page-3 .main-heading {
        font-size: 60px;
    }
    .error-page-3 .sub-heading {
        font-size: 42px;
    }
}