main/upload
main/upload/
main/upload/**

main/download
main/download/
main/download/**

main/common/config.php
main/common/session

main/ajax/client/ajax_member.php

#결제 페이지
main/registration2.php

main/pg_demo\(local\)
main/plugin
main/plugin/
main/plugin/**

main/live/assets/download
main/live/assets/download/
main/live/assets/download/**

*.mp4
*.pdf

robots.txt
sitemap.xml